.countriesList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  max-width: 1200px;
  margin: 40px auto;
}

.containerSearch {
  text-align: center;
}
h4 {
  margin-top: 2rem;
  text-align: center;
  visibility: hidden;
}
.search {
  margin: auto;
  max-width: 25rem;
  height: 2rem;
}
.count {
  padding-top: 6rem;
  margin-top: 1rem;

  border-radius: 10px;
  background-color: rgb(174, 194, 191);
}
.counth2 {
  text-align: right;
  margin-right: 3rem;
}
